[Unit]
Description=TUNA mirrors sync manager
After=network.target
Requires=network.target

[Service]
Type=simple
User=tunasync
ExecStart=/usr/bin/tunasync manager -c /etc/tunasync/manager.conf --with-systemd
Restart=on-failure
RestartSec=5

# Hardening
ProtectSystem=strict
ReadWritePaths=/var/lib/tunasync
ProtectHome=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target